In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train_initial=pd.read_csv('train.csv')
test_initial=pd.read_csv('test.csv')
train_initial.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0

In [3]:
sample=pd.read_csv('sample_submission.csv')
print(f"sample shape is {sample.shape} testing shape is {test_initial.shape}, training shape is {train_initial.shape}")

sample shape is (39098, 2) testing shape is (39098, 12), training shape is (58645, 13)

In [4]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
#Preprocessing
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
test_id=test_initial['id']
columns_to_drop=['id','person_age']
train_initial.drop(columns_to_drop,axis=1,inplace=True)
test_initial.drop(columns_to_drop,axis=1,inplace=True)
non_numeric_coulumns= [col for col in train_initial.columns if not pd.api.types.is_numeric_dtype(train_initial[col])]
for col in non_numeric_coulumns:
    train_initial[col]=label_encoder.fit_transform(train_initial[col])
    test_initial[col]=label_encoder.fit_transform(test_initial[col])
train_initial.head()

,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,35000,3,0.0,1,1,6000,11.49,0.17,0,14,0
1,56000,2,6.0,3,2,4000,13.35,0.07,0,2,0
2,28800,2,8.0,4,0,6000,8.90,0.21,0,10,0
3,70000,3,14.0,5,1,12000,11.11,0.17,0,5,0
4,60000,3,2.0,3,0,6000,6.92,0.10,0,3,0

In [6]:
from sklearn.preprocessing import StandardScaler

# Initialize the scaler
scaler = StandardScaler()

# List all columns except the target
numerical_columns = train_initial.columns.drop('loan_status')

# Fit and transform the scaler on the feature columns
train_initial[numerical_columns] = scaler.fit_transform(train_initial[numerical_columns])
test_initial[numerical_columns] = scaler.transform(test_initial[numerical_columns])
train_initial.head()

,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,-0.765768,0.913186,-1.187200,-0.881912,-0.063697,-0.578306,0.267616,0.117378,-0.417419,2.031798,0
1,-0.212128,0.224728,0.328047,0.278934,0.892168,-0.937775,0.880532,-0.973242,-0.417419,-0.946489,0
2,-0.929223,0.224728,0.833130,0.859357,-1.019563,-0.578306,-0.585854,0.553626,-0.417419,1.039036,0
3,0.156966,0.913186,2.348377,1.439780,-0.063697,0.500101,0.142396,0.117378,-0.417419,-0.201917,0
4,-0.106673,0.913186,-0.682117,0.278934,-1.019563,-0.578306,-1.238314,-0.646056,-0.417419,-0.698298,0

In [7]:
from sklearn.model_selection import train_test_split
X=train_initial.drop('loan_status',axis=1)
y=train_initial['loan_status']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (2.13.0)
Requirement already satisfied: tensorflow-intel==2.13.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow) (2.13.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.1.21 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (24.3.25)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (18.1.1)
Requirement already satisfied: numpy<=1.24.3,>=1.22 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.24.3)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (3.20.3)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (75.1.0)
Requirement already satisfied: six>=1.12.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions<4.6.0,>=3.6.6 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (4.5.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (1.67.1)
Requirement already satisfied: tensorboard<2.14,>=2.13 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: tensorflow-estimator<2.14,>=2.13.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.0)
Requirement already satisfied: keras<2.14,>=2.13.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (2.13.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorflow-intel==2.13.0->tensorflow) (0.31.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.13.0->tensorflow) (0.44.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.36.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.7)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.32.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.0.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (5.5.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.0.0)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from markdown>=2.6.8->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (8.5.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2024.8.30)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (2.1.5)
Requirement already satisfied: zipp>=3.20 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.20.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\hp\anaconda3\envs\yoga_pose_env\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow-intel==2.13.0->tensorflow) (3.2.2)
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Creating the model
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

from sklearn.metrics import roc_auc_score

callback = keras.callbacks.EarlyStopping(monitor='loss', patience=3)

model=keras.Sequential()
model.add(Dense(64,activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(32,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

history = model.fit(X_train, y_train, epochs=20, validation_data=(X_test, y_test), batch_size=32, callbacks=[callback])
y_pred = model.predict(X_test)

# Calculate ROC-AUC score
roc_auc = roc_auc_score(y_test, y_pred)
print(f'ROC-AUC Score: {roc_auc:.4f}')

Epoch 1/20
1467/1467 [==============================] - 4s 2ms/step - loss: 0.2525 - accuracy: 0.9064 - val_loss: 0.2240 - val_accuracy: 0.9219
Epoch 2/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.2189 - accuracy: 0.9232 - val_loss: 0.2151 - val_accuracy: 0.9216
Epoch 3/20
1467/1467 [==============================] - 2s 2ms/step - loss: 0.2103 - accuracy: 0.9265 - val_loss: 0.2043 - val_accuracy: 0.9298
Epoch 4/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.2056 - accuracy: 0.9291 - val_loss: 0.2009 - val_accuracy: 0.9330
Epoch 5/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.2015 - accuracy: 0.9316 - val_loss: 0.2025 - val_accuracy: 0.9334
Epoch 6/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1985 - accuracy: 0.9339 - val_loss: 0.1979 - val_accuracy: 0.9326
Epoch 7/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1945 - accuracy: 0.9366 - val_loss: 0.1962 - val_accuracy: 0.9385
Epoch 8/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1916 - accuracy: 0.9392 - val_loss: 0.1910 - val_accuracy: 0.9409
Epoch 9/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1888 - accuracy: 0.9413 - val_loss: 0.1860 - val_accuracy: 0.9442
Epoch 10/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1864 - accuracy: 0.9428 - val_loss: 0.1871 - val_accuracy: 0.9418
Epoch 11/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1851 - accuracy: 0.9435 - val_loss: 0.1851 - val_accuracy: 0.9425
Epoch 12/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1822 - accuracy: 0.9439 - val_loss: 0.1898 - val_accuracy: 0.9410
Epoch 13/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1825 - accuracy: 0.9437 - val_loss: 0.1836 - val_accuracy: 0.9436
Epoch 14/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1799 - accuracy: 0.9453 - val_loss: 0.1798 - val_accuracy: 0.9453
Epoch 15/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1784 - accuracy: 0.9453 - val_loss: 0.1802 - val_accuracy: 0.9444
Epoch 16/20
1467/1467 [==============================] - 2s 2ms/step - loss: 0.1774 - accuracy: 0.9460 - val_loss: 0.1781 - val_accuracy: 0.9450
Epoch 17/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1764 - accuracy: 0.9457 - val_loss: 0.1759 - val_accuracy: 0.9485
Epoch 18/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1744 - accuracy: 0.9471 - val_loss: 0.1782 - val_accuracy: 0.9457
Epoch 19/20
1467/1467 [==============================] - 2s 2ms/step - loss: 0.1731 - accuracy: 0.9473 - val_loss: 0.1745 - val_accuracy: 0.9482
Epoch 20/20
1467/1467 [==============================] - 3s 2ms/step - loss: 0.1733 - accuracy: 0.9477 - val_loss: 0.1773 - val_accuracy: 0.9475
367/367 [==============================] - 1s 1ms/step
ROC-AUC Score: 0.9327

In [10]:
test_initial.head()

,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,0.130602,0.913186,-0.429576,-0.301489,3.759765,2.836651,1.674687,2.189555,-0.417419,-0.946489
1,0.842425,-1.152188,0.328047,0.859357,0.892168,0.140632,0.659750,-0.646056,2.395674,-0.450108
2,-0.897587,0.913186,0.075506,1.439780,2.803899,-0.937775,2.145908,-0.318870,2.395674,-0.946489
3,-0.370311,0.913186,-0.177035,-1.462336,-1.019563,-0.398572,-0.585854,-0.209808,-0.417419,0.294464
4,1.000608,-1.152188,0.833130,-0.301489,1.848034,1.039305,1.859221,-0.100746,2.395674,-0.450108

In [11]:

y_pred_final=model.predict(test_initial)

1222/1222 [==============================] - 1s 1ms/step

In [12]:
y_pred_final=y_pred_final.flatten()

In [13]:
def create_df(data=[] , col_names=[]):

    sub_df = pd.DataFrame(data).T
    sub_df.columns = col_names
    return sub_df

In [14]:
test_id = test_id.tolist()

In [15]:
output=create_df([test_id , y_pred_final] , ['id' , 'loan_status'])
output['id'] = output['id'].convert_dtypes('int32')
output

          id  loan_status
0      58645     0.990736
1      58646     0.023377
2      58647     0.162855
3      58648     0.042072
4      58649     0.103734
...      ...          ...
39093  97738     0.030488
39094  97739     0.007387
39095  97740     0.024203
39096  97741     0.326267
39097  97742     0.978363

[39098 rows x 2 columns]

In [16]:
output.to_csv('submission.csv',index=False)